/CV/Yaroslav_Lyakh.pdf
/CV/Y_Lyakh.pdf
/CV/Y_Lyakh.log
/CV/Yaroslav_Lyakh.log
/CV/res8.pdf
/CV/res8.log
/CV/output.odt
/CV/manual.docx
/CV/index.html
/CV/current/
/CV/auto/res.el
/CV/auto/copy of Yaroslav_Lyakh.el
/CV/auto/Y_Lyakh.el
/CV/Yaroslav_Lyakh.docx
